<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- Custom Styling -->
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="d-flex flex-column justify-content-center align-items-center vh-100">
    <p>Game is over!</p>
    <p><%= firstPlayer %>'s score is <%= firstPlayerScore %> and <%= secondPlayer %>'s score is <%= secondPlayerScore %></p>
    <h1> 
        <%= announceWinner %>
    </h1>    
    
    <form action ="/cleanup" method="post">
        <input id="submit-names" type="submit" value="New game!">
    </form>
     
</body>
</html>