<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>
        <%= firstPlayer %> chose <%= firstPlayerChoice %> and <%= secondPlayer %> chose <%= secondPlayerChoice %>
        <%= firstPlayer %>'s score is <%= firstPlayerScore %> and <%= secondPlayer %>'s score is <%= secondPlayerScore %>
    </h1>
    <a id="turn-link" href = "/1stPlayer">Next turn..</a>
     
</body>
</html>